langchain-core
langchain-community
langchain-openai
openai==0.28.0
sqlalchemy==2.0.20
python-dotenv==1.2.2
psycopg2-binary==2.9.7  # for PostgreSQL
mysql-connector-python==9.1.0  # for MySQL
# sqlite3  # built-in for SQLite